@model StudentTeacherSubject.Models.Teacher

@{
    ViewData["Title"] = "Teacher Details";
}

<h1>Teacher Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Name
        </dt>
        <dd class="col-sm-10">
            @Model.Name
        </dd>
        <dt class="col-sm-2">
            Age
        </dt>
        <dd class="col-sm-10">
            @Model.Age
        </dd>
        <dt class="col-sm-2">
            Sex
        </dt>
        <dd class="col-sm-10">
            @Model.Sex
        </dd>
        
        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImagePath))
            {
                <img src="~/images/teachers/@Model.ImagePath" alt="@Model.Name" style="width:100px;" />
            }
        </dd>
    </dl>
</div>
<br />

<p>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning">Edit</a>
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</p>
