@model IEnumerable<StudentTeacherSubject.Models.Teacher>

@{
    ViewData["Title"] = "Teachers";
}

<h1>Teachers</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Sex</th>
            <th>Image</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var teacher in Model)
        {
            <tr>
                <td>@teacher.Name</td>
                <td>@teacher.Age</td>
                <td>@teacher.Sex</td>
                <td>
                    @if (!string.IsNullOrEmpty(teacher.ImagePath))
                    {
                        <img src="~/images/teachers/@teacher.ImagePath" alt="@teacher.Name" style="width:100px;" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@teacher.Id" class="btn btn-warning">Edit</a>
                  @*   <a asp-action="Details" asp-route-id="@teacher.Id" class="btn btn-info">Details</a> *@
                    <a asp-action="Delete" asp-route-id="@teacher.Id" class="btn btn-danger">Delete</a>
                    <a asp-action="AssignSubjects" asp-route-id="@teacher.Id" class="btn btn-secondary">Assign Subjects</a>
   
                </td>
            </tr>
        }
    </tbody>
</table>

